:root {
    /** font */
    --fontFamily: 'Garamond', serif;
    /** font end */

    /** color */
    --red01: #DC143C;
    --orange01: #FF570D;
    --lightBluePinkColor: #FFE0ED;
    --lightGrayColor02: #ccc8c8;
    --yellowColor01: #FFFF9D;
    --lightYellowColor: #FFFFDD;
    --greenColor: #5ebfac;
    --green02Color: #189e83;
    --lightPink01Color: #FF69B4;
    --lightPink02Color: #ffb6d4;
    --darkPink01Color: #DA1884;
    --darkPink02Color: #bc1873;
    --darkPink03Color: #a11462;
    --grayColor: #696666;
    --gray02Color: #61646d;
    --darkGrayColor: #42454e;
    --lightGrayColor01: #808080;
    --blackColor: #000;
    --whiteColor01: #fff;
    --whiteColor02: #f7f8f9;
  }

body {
    font-family: var(--fontFamily);
    font-size: 30px;
    background-color: var(--whiteColor01);
}

header {
    /* background-color: #FFB2D0; */
    /* background-color: #9D00FF; */
    /* background-color: #D462FF; */
    height: 100vh;
}

.header-menu {
    top: 0;
    right: 0;
    position: fixed;
    margin-right: 40px;
    cursor: pointer;
}

.header-menu li {
    font-size: 20px;
    list-style: none;
    float: left;
    /* width: 100px; */
    height: 40px;
    margin: 0px 30px;
}

.header-menu li::after {
    content: "";
    left: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 7px;
    background-color:  var(--lightPink02Color);
    bottom: -10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.header-menu li:hover::after {
    visibility: visible;
    bottom: 0px;
    opacity: 1;
    cursor: pointer;
}

.mobile-header-menu {
    right: 0;
    position: fixed;
    z-index: 100;
    display: none;
}

.mobile-header-menu li {
    list-style: none;
}

.header-vertical-sector {
    width: 10%;
    height: 100%;
    background-color: lightblue;
    background-color: var(--darkPink01Color);
    /* background-image: linear-gradient(92.88deg, var(--darkPink03Color) 9.16%, var(--darkPink02Color) 43.89%, var(--darkPink01Color) 74.72%); */
}

.header-horizontal-sector {
    height: 50px;
    width: 100%;
    margin: -20vh 0px;
    position: absolute;
}

.header-horizontal-sector::after {
    content: "";
    display: block;
    height: 7px;
    background-color: var(--yellowColor01);
    animation: stroke-border 5s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes stroke-border {
    0% {
        width: 0px;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.header-content {
    margin: -80vh auto 100px 38vh;
}

