section {
    margin: 10vh 0;
    padding: 3vh 0px;
    /* TODO: define height clearly to jump to the exact top position of contact section */
    /* height: 100vh; */
    height: auto;
    /* TODO end: define height clearly to jump to the exact top position of contact section */
}
