.mobile-header-menu {
    right: 0;
    bottom: 5vh;
    position: fixed;
    z-index: 100;
    display: none;
    /* width: calc(40vh + (1.2em * 2));  /* (.mobile-header-menu width) + (.mobile-header-menu li > button > span padding) */
    width: calc(20vw + (1.2em * 2));  /* (.mobile-header-menu width) + (.mobile-header-menu li > button > span padding) */
}

.mobile-header-menu.visible {
    /*right: calc(4vw - 30vh);  /* (.menu-icon size) - (.mobile-header-menu li width) */
    display: block;
    animation: emerge-mobile-menu 1s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes emerge-mobile-menu {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        /* width: calc(40vh + (1.2em * 2));  /* (.mobile-header-menu width) + (.mobile-header-menu li > button > span padding) */
        width: calc(20vw + (1.2em * 2));  /* (.mobile-header-menu width) + (.mobile-header-menu li > button > span padding) */
        opacity: 1;
    }
}

.mobile-header-menu li {
    width: 100vw;
    height: 10vh;
    list-style: none;
    padding: 0.5vw 1vw;
    margin: 5px 0px;
    font-size: 120%;
    border-top: 0.1em solid var(--green02Color);
    border-left: 0.1em solid var(--green02Color);
    border-bottom: 0.1em solid var(--green02Color);
    border-radius: 30vh;
    position: relative;
    color: var(--whiteColor01);
    background-color: transparent;
    /* right: calc(10vh + 1.2em + 4vw - 40vh);  /* (extra) + (.mobile-header-menu li > button > span padding) + (.menu-icon width) - (.mobile-header-menu li width) */
    right: calc(1.2em + 2vw - 20vw);  /* (.mobile-header-menu li > button > span padding) + (.menu-icon width) - (.mobile-header-menu li width) */
    line-height: 10vh;  /* .mobile-header-menu li width */
}

.mobile-header-menu li:hover {
    cursor: pointer;
    right: 0;
    background-color: var(--greenColor);
    color: var(--blackColor);
    transition: all 0.5s;
    button i {
        color: var(--blackColor);
    }
    button span {
        color: var(--blackColor);
    }
    .menu-icon .speech-bubble-bottom {
        background-color: var(--greenColor);
        transition: all 0.5s;
    }
}

.mobile-header-menu li button {
    text-align: left;
    width: 100%;
    position: relative;
}

.mobile-header-menu li > button > span {
    font-size: 0.9em;
    padding: 0px 1.2em;
    color: var(--whiteColor01);
}

/* Menu Icons */
.menu-icon {
    display: inline-block;
    vertical-align: middle;
    color: var(--whiteColor01);
    line-height: 1;
    margin: 0px 20px 20px 10px;
    /* width: 4vw; */
}

/* About Icon */
.menu-icon.about {
    width: 1.2em;
    line-height: 1;
}

.menu-icon.about::before, .menu-icon.about::after {
    content: '';
    display: block;
    margin: 0 auto;
    border: 0.07em solid currentColor;
    box-sizing: border-box;
}

.menu-icon.about::before {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin-bottom: 0.05em;
}

.menu-icon.about::after {
    width: 1em;
    height: 0.4em;
    border-bottom: 0;
    border-radius: 50% / 100% 100% 0 0;
}
/* About Icon end */

/* Projects Icon */
.menu-icon.projects {
    margin-top: 10px;
    width: 1.2em;
    height: 0.7em;
    border: 0.07em solid currentColor;
    border-radius: 0 0.1em 0.1em 0.1em;
    box-sizing: content-box;
}

.menu-icon.projects > span {
    position: relative;
    width: 0.5em;
    height: 0.2em;
    display: block;
    left: 0px;
    bottom: 40%;
    border: 0.07em solid currentColor;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0.1em 0.1em 0 0;
    box-sizing: content-box;
}

.menu-icon.projects > span::before {
    content: '';
    position: absolute;
    top: -0.07em;
    left: calc(100% - 0.07em);
    width: 0.3em;
    height: 0;
    border-top: 0.07em solid currentColor;
    transform: rotate(55deg);
    transform-origin: left bottom;
    box-sizing: content-box;
}
/* Projects Icon end */

/* Skills Icon */
.menu-icon.skills {
    margin-top: 1px;
    width: 1em;
    height: 0.63em;
    border: 0.07em solid currentColor;
    border-radius: 0 0.1em 0.1em 0.1em;
    box-sizing: content-box;
}
.menu-icon.skills::after {
    content: '';
    background-color: transparent;
    display: block;
    width: 1em;
    height: 0.05em;
    position: relative;
    top: 125%;
    left: -0.05em;
    border: 0.07em solid currentColor;
    border-radius: 3px;
}
/* Skills Icon end */

/* Contact Icon */
.menu-icon.contact {
    width: 1.06667em;
    height: 0.8em;
    border: 0.07em solid currentColor;
    border-radius: 0.1em;
    box-sizing: content-box;
}

.menu-icon.contact::before {
    content: '';
    position: relative;
    left: 47.8%;
    top: 15%;
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border: 0.07em solid currentColor;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 0 0 0 0.1em;
    box-sizing: content-box;
    transform: translate(-50%, -50%) rotate(-45deg) skew(10deg, 10deg);
}
/* Contact Icon end */

/* Languages Icon */
.menu-icon.languages {
    width: 1em;
    height: 1em;
    border: 0.07em solid currentColor;
    border-radius: 50%;
    box-sizing: content-box;
    text-align: center;
}

.menu-icon.languages > span {
    font-size: 0.3em;
    top: -120%;
    position: relative;
}

.menu-icon.languages::before {
    content: '';
    position: relative;
    left: -0.3em;
    bottom: -0.3em;
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    background-color: transparent;
    border: 0.07em solid currentColor;
    border-top: none;
    border-left: none;
    transform: rotate(85deg) skew(20deg, 20deg);
}

.menu-icon.speech-bubble-bottom {
    width: 0.6em;
    height: 0.6em;
    left: -0.6em;
    top: -5em !important;
    background-color: var(--blackColor);
    transform: rotate(85deg); 
}
/* Languages Icon end */
