.about-anim-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: -80vh;
    left: 10vw;
}

.wave-bkground-color {
    /* width: 100vw; */
    width: calc(100vw + 6vh);  /* width + left */
    height: 50vh;
    position: relative;
    top: -40vh;
    left: 0;
    background: linear-gradient(
        to right,
        /* var(--blackColor02) 0%, */
        var(--lightBlueColor02) 0%, 
        var(--lightBlueColor02) 25%, 
        var(--bluePurpleColor02) 50%,  
        var(--darkPink03Color) 75%, 
        var(--darkPink03Color) 100% 
        /* var(--blackColor02) 100% */
    );
    background-size: 400% 400%;
    animation: moving-wave 10s ease infinite;
    transform: rotate(-6.5deg);
    left: -6vh;  /* slide left to cover the blak caused by the rotation */
}

.wave-bkground-container {
    background-color: transparent;
    /* width: 100vw; */
    width: calc(100vw + 6vh);  /* width + left */
    height: 50vh;
    position: relative;
    display: flex;
    top: calc(-50vh + (-40vh));  /* (.wave-bkground-container height) + (.wave-bkground-color -top height) */
    box-shadow: var(--blackColor02) 50px 0px 50px 0px;
    mix-blend-mode: darken;
    transform: rotate(-6.5deg);
    left: -6vh;  /* slide left to cover the blak caused by the rotation */
}

@keyframes moving-wave {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

.canvas-wave {
    width: 100%;
    height: 100%;
    background-color: var(--blackColor02);
    position: absolute;
    top: 0;
    left: 0;
}

