.contact-content {
    margin-left: 10vh;  /* h1 width */
    font-size: var(--fontSize02);
    position: relative;
}

.active.contact-content {
    animation: fadein-text 1s var(--easeInOutSine01);
}

@keyframes fadein-text {
    0% {
        display: none;
        opacity: 0;
        bottom: -50px;
    }
    100% {
        display: block;
        opacity: 1;
        bottom: 0px;
    }
}

.contact-content > div {
    margin: 5vw;
}

.contact-text {
    font-size: calc(var(--fontSize01) - 0.2vw);
}

.contact-means > div {
    margin: 0 5vw;
}

#email, #linkedin {
    display: flex;
}

#email > p,
#linkedin > p {
    margin: 1em 0;
}

#email > div,
#linkedin > div {
    margin-left: 0.5em;
}

#email > .contact-title {
    font-family: var(--fontFamily02);
    word-break: break-all;
    width: 10vw;
}

#linkedin > .contact-title {
    font-family: var(--fontFamily02);
    word-break: break-all;
    width: 10vw;
}

.contact-title {
    margin-right: 2em!important;
}

.btn-copy {
    height: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.btn-copy > p {
    font-size: var(--fontSize03);
    /* font-size: inherit; */
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--whiteColor01);
    width: calc(1.5em + 0.5em);  /* (.icon-copy width) + extra */
}

.icon-copy {
    display: inline-block;
    width: calc(1.3em + 0.2em);  /* (.icon-copy > div width) + (.icon-copy > #icon-copy-front margin-left) */
    height: calc(1.3em * 1.3 + 0.2em);
    /* height: 100%; */
    margin: 0;
    margin-bottom: 1.5em;
}

.icon-copy > div {
    position: absolute;
    width: calc(var(--fontSize02) - 0.5vw);
    height: var(--fontSize02);
    border: 1px solid var(--whiteColor01);
    border-radius: 2px;
}

.icon-copy > #icon-copy-back {
    background-color: var(--blackColor01);
    &:hover {
        background-color: var(--darkBluePurpleColor01);
    }
    &:hover~#icon-copy-front {
        background-color: var(--darkBluePurpleColor01);
    }
}

.icon-copy > #icon-copy-front {
    background-color: var(--blackColor01);
    margin-left: 0.2em;
    margin-top: 0.2em;
    &:hover {
        background-color: var(--darkBluePurpleColor01);
    }
}

#icon-copy-back:has(~#icon-copy-front:hover){
    background-color: var(--darkBluePurpleColor01);
}
