:root {
    /** font */
    --fontFamily01: 'Garamond', serif;
    --fontFamily02: 'Courier New', monospace;
    --fontFamily03: 'Trebuchet MS', sans-serif;

    --fontSize01: 2vw;
    --fontSize02: 1.5vw;
    /** font end */

    /** color */
    --lightPink02Color: rgb(255, 255, 157);
    --red01: #DC143C;
    --orange01: #FF570D;
    --lightBluePinkColor: #FFE0ED;
    --yellowColor01: #FFFF9D;
    --lightYellowColor: #FFFFDD;
    --greenColor: #5ebfac;
    --green02Color: #189e83;
    --lightPink01Color: #FF69B4;
    --lightPink02Color: #ffb6d4;
    --darkPink01Color: #DA1884;
    --darkPink02Color: #bc1873;
    --darkPink03Color: #a11462;
    --lightBlueColor01: #dbebf8;
    --lightBlueColor02: #abdcf5;
    --lightBluePurpleColor01: #686aef;
    --bluePurpleColor01: #5643CC;
    --bluePurpleColor02: #572ad4;
    --bluePurpleColor02Tranparent: #572ad49e;
    --darkBluePurpleColor01: #33197a;
    --navyColor01: #172749;
    --grayColor: #696666;
    --gray02Color: #61646d;
    --darkGrayColor01: #42454e;
    --darkGrayColor02: #2a2a2b;
    --lightGrayColor01: #808080;
    --lightGrayColor02: #ccc8c8;
    --blackColor01: #000;
    --blackColor02: #141414;
    --whiteColor01: #fff;
    --whiteColor02: #f7f8f9;

    /** animation */
    --easeIn01: cubic-bezier(0.33, 1, 0.68, 1);
    --easeInOutSine01: cubic-bezier(0.37, 0, 0.63, 1);
    --easeOutCirc01: cubic-bezier(0, 0.55, 0.45, 1);
    /** animation end */
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* max-width: 1820px; */
}

#app {
    display: flex;
    flex-direction: column;    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fontFamily01);
    font-size: var(--fontSize01);
    background-color: var(--whiteColor01);
}

main {
    width: 100vw;
    height: 100%;
    background-color: var(--blackColor02);
    color: var(--whiteColor01);
}

main > div {
    background-color: var(--blackColor02);
}

.wrapper {
    width: 100%;
    /* max-width: 1820px; */
}

.header-menu-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    &:hover {
        cursor: pointer;
    }
}


/* Media Queries */
@media (max-width: 1200px) {
    .wrapper {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        max-width: 700px;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 480px) {
}