@import url("index.css");
@import url("constant.css");

/* DEV: outline for all the elements */
/* * {
    outline: 1px green solid;
}

section {
    outline: 1px red solid;
} */

/* DEV end: outline for all the elements */

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* max-width: 1820px; */
}

#app {
    display: flex;
    flex-direction: column;    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: var(--fontFamily01);
    font-size: var(--fontSize01);
    background-color: var(--whiteColor01);
}

main {
    width: 100vw;
    height: 100%;
    background-color: var(--blackColor02);
    color: var(--whiteColor01);
}

main > div {
    background-color: var(--blackColor02);
}

.wrapper {
    width: 100%;
    /* max-width: 1820px; */
    & h1 {
        /* color: transparent; */
        /* -webkit-text-stroke: 0.01em var(--whiteColor01); */
        letter-spacing: .2em;
        font-family: var(--fontFamily05);
        text-transform: capitalize;  /* make the first alphabet capital */
        position: relative;
        z-index: 1;
        /* display: block; */

        color: var(--blackColor02);
        -webkit-text-stroke: 0.01em var(--lightGrayColor02);
        text-shadow: 0 8px 9px var(--grayColor);
        font-size: calc(var(--fontSize01) + 0.5em);
        font-weight: bold;
    }
}

.header-menu-btn {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    &:hover {
        cursor: pointer;
    }
}


/* Media Queries */
@media (max-width: 1200px) {
    .wrapper {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .wrapper {
        max-width: 700px;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 480px) {
}